<h1>Image majik information</h1>

<p>
	This is a simple application created by 
	<%=link_to "Sumeet Rajpal", "https://www.facebook.com/sumeet.rajpal"%>
	and 
	<%=link_to "Ishtiaque Khan","https://www.facebook.com/1shtiaquekhan?fref=ts"%>.
</p>
<p>
It is a simple image sharing application that allows users to upload, add filters and share their
	images with their friends.
</p>
