$font-family-base: Oxygen;
@import url(http://fonts.googleapis.com/css?family=Oxygen);

$navbar-default-bg: black;
$navbar-default-border: red;
$navbar-default-link-color: lightgrey;
$navbar-default-link-hover-color:white;
$btn-primary-bg: purple;

@import "bootstrap";

body {
  padding-top: 70px;
}

.footer{
  margin-top: 50px;
  color: lightgrey;
  a {
    color: grey;
  }
}
/* required for jQuery masonary*/
.box{
margin: 5px;
padding: 5px;
font-size: 11px;
line-height: 1.4em;
float: left;
-webkit-border-radius: 5px;
-moz--border-radius: 5px;
border-radius: 5px;
box-shadow: 1px 1px 10px #444;
width: 244px;
}

.box img {
  display:block;
  width: 100%;
  -webkit-border-radius: 5px;
-moz--border-radius: 5px;
border-radius: 5px;
}

.description{
  margin: 20px 0 10px;
}
