<div class="footer">
	<small>
		
		<%= link_to "Image Majik","#"%>
		by
		<%=link_to "Sumeet Rajpal","https://www.facebook.com/sumeet.rajpal"%>
		<%=link_to "Ishtiaque Khan","https://www.facebook.com/1shtiaquekhan?fref=ts"%>
	</small>
</div>
